<plugin>
    <info>
        <name>Printer Counter Summary</name>
        <version>1.0.0</version>
        <author>Arnaud Wierel</author>
        <license>GPLv2+</license>
        <link>https://github.com/ArnaudWierel/PrinterCounterSummary</link>
        <minGlpiVersion>9.3</minGlpiVersion>
    </info>
    <requires>
        <plugin name="printercounter" version=">=3.0.0" />
    </requires>
    <optional>
        <!-- Optional plugins go here -->
    </optional>
</plugin>
